@import "tailwindcss";

@font-face {
  font-family: 'Indivisa Display Serif';
  src: url('/Indivisa Display Serif Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'Indivisa Display Serif', ui-sans-serif, system-ui, sans-serif;
  --color-brand-bg: #002167;
  --color-brand-primary: #FF3351;
}
